.container{
	width:1000px;
	padding:0;
}
.col-point{margin-left:21px;}
footer{font-size:13px;}
.foot-nav ul li{margin-left:3px;}
.eligibility{width:276px;}
.testimonial{padding: 0 10px 0 10px; width:430px;}
.testimonial-txt{width:300px;}